.variants-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.variant-title {
  font-weight: 500;
  font-size: 0.85rem;
  color: #333;
  white-space: nowrap; /* prevent breaking in title text */
}

.variants-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex-grow: 1; /* take remaining space */
  min-width: 0; /* prevent flexbox overflow */
}
.variant-attribute-group {
  margin-bottom: 10px; /* Adds space between each attribute group */
}

.variant-attribute-group:last-child {
  margin-bottom: 0; /* Prevent extra space after last group */
}


.variant-image-wrapper {
  position: relative;
  width: 100%;
  
}

.variant-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  font-size: 0.65rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 4px 0 0;
  pointer-events: none;
}

.variant-btn.out-of-stock {
  opacity: 0.5;
  border-style: dashed;
}


.variant-btn {
  width: 105px;
  padding: 0px 0px 5px;
  border: .5px solid #cfcfcf;
  border-radius: 4px ;
    background: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 0.55rem;
  color: #333;
  transition: all 0.2s ease-in-out;
  flex-shrink: 0; /* prevent shrinking smaller than width */
}

.variant-btn:hover:not(.selected):not(.out-of-stock) {
  border-color: #ffa84d;
}

.variant-btn.selected {
  border-color: #000;
}

.variant-image {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 4px 4px 0 0 ;
  margin-bottom: 6px;
}

.variant-label {
  display: block;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.75rem;
  /* width: 85px;
  margin: 0 auto; */
}

.variant-btn.out-of-stock {
  opacity: 0.4;
  pointer-events: none;
  border-style: dashed;
}
