.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(0,0,0,0.8); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-content {
  background: white;
  border-radius: 12px;
  padding: 30px;
  width: 320px;
  max-width: 90vw;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  text-align: center;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.btn-confirm {
  background-color: #e53935;
  color: white;
}

.btn-cancel {
  background-color: #ccc;
  color: #333;
}
